html {

    font-family: sans-serif;
    font-size: 16px;
    background-color: var(--brackgound-clr);
    color: snow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --brackgound-clr: rgb(17, 17, 17)
}

.title {
    margin: 1rem;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

#app {
    max-width: 1024px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    max-width: 80%;
    width: 50%;
    margin: auto;
    gap: 1.5rem;
    height: 100vh;


}

.link {
    height: 3rem;
    background-color: var(--brackgound-clr);
    cursor: pointer;
    outline: none;
    color: snow;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 1px solid snow;
    border-radius: 5px;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    transition: .3s ease;

}

.link:hover {
    background-color: snow;
    color: var(--brackgound-clr);
}

.footer {
    padding: .5rem;
    text-align: right;
    opacity: .75;
    font-size: .8rem;
}

.container-button .button-return img {
    max-width: 100%;
    width: auto;

}

.container-button {

    background-color: var(--brackgound-clr);
    padding-right: 1rem;
}

.button-return {
    cursor: pointer;
    width: 3rem;
    background-color: var(--brackgound-clr);
    border-radius: 50%;
    float: inline-end;
    padding: 5px;
    border: none;
}

.container-display {
    font-size: 10rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

.container-set-ups {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    width: 100%;
    margin: auto;
    align-items: center;

}

.set-ups {
    max-width: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.emom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    color: snow;
    border: 4px solid snow;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: var(--brackgound-clr);
}

input[type="number"]:focus {
    outline: none;
    border-color: snow;
    color: snow;

}

.button-start {
    margin: 1rem;
    width: 25%;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid snow;
    cursor: pointer;
    background-color: transparent;
    color: snow;
    font-size: 2rem;
    transition: .3s ease;
}

.button-start:hover {
    background-color: snow;
    color: var(--brackgound-clr);
}

.number-countDown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}


@media screen and (max-width: 425px) {

    #app {
        display: flex;
        flex-direction: column;
    }

    input[type="number"] {
        width: 6rem;

    }

    .title {
        margin: .5rem;
        text-align: center;
        font-size: 2rem;
    }

    .container-display {
        font-size: 1rem;
        width: 90%;
        margin: auto;
        text-align: center;

    }

    .button-return {
        cursor: pointer;
        width: 2rem;
        background-color: var(--brackgound-clr);
        border-radius: 50%;
        float: inline-end;
        margin: 0.5rem;
        padding: 5px;
        border: none;
        display: block;
    }

    .container-set-ups {
        gap: .4rem;
        font-size: 1rem;


    }

    .button-start {
        width: 50%;
    }

    .total-minutes p {
        font-size: 1.5rem;
    }

    .watch {
        font-size: 4.5rem;
    }
}